<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="header-component">This Awesome Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="products-component">Products</a>
      </li>
      <li class="nav-item">
        <a class = "navbar-nav ml-auto" class="nav-link" routerLink="form-component"> Help <i class="fa fa-question-circle" aria-hidden="true"></i></a>

      </li>
     
    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="cart-component"><i class="fa-solid fa-cart-shopping">Cart</i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <div class="navbar bg-success shadow-sm">
    <div class="navbar-brand align-itm-center d-flex">
        <i style="font-size:40px;" class="fas fa-shipping-fast">&nbsp;
            <strong>DEMO CART APPLICATION</strong>
           
        </i>
    </div>
</div>

<nav id="sidebarMenu" style="width:25%" class=".fixed-left bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a routerLink="products-component" >
          <i class="fa fa-product-hunt" aria-hidden="true"></i><span>Products</span>
        </a>
        <a routerLink="cart-component">
          <i  class="fa fa-shopping-cart" aria-hidden="true"></i><span>Cart</span>
        </a>
        <a routerLink="form-component"><i
            i class="fa fa-question-circle" aria-hidden="true"></i><span>Questions</span></a>
        <a routerLink="header-component"><i
            class="fa fa-home" aria-hidden="true"></i><span>Home</span></a>
        
      
      </div>
    </div>
  </nav>
            -->
 
        
<router-outlet></router-outlet>