<div class="container">
    <div class="card bg-dark text-white" style="width: 50rem;">

        <div class="card-body">





            <form class="row g-3" [formGroup]="questionForm" class="form-horizontal"(ngSubmit)="onSubmit()">
                <div class="col-md-6">
                    <span>
                    <label for="user">Name</label>
                    <input id="user" class="form-control" type="text" formControlName="user" placeholder="full name">
                    </span>
                </div>
                <div class="col-md-6">
                    <span>
                        <label class="form-label" id="email">Email</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="example@email.com">
                        <small class = "error-size alert-danger"   *ngIf="questionForm.get('email')?.hasError('email')"  >Valid Email Required</small>
                    </span>
                 
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label" id="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control"  placeholder="xxx-xxx-xxxx" formControlName= "phoneNumber">
                    <small class = "error-size alert-danger"  *ngIf="questionForm.get('phoneNumber')?.hasError('minlength')">Your Phone Number Must Have 10 Characters</small>
                </div>


                <div class="col-12">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Question</label>
                        <textarea class="form-control"  rows="3"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success" [disabled]="!questionForm.valid">Submit</button>
                </div>

            </form>
        </div>
    </div>
<!-- <form [formGroup]="questionForm" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Questions</h3>
        </div>
        <div class="panel-body">
            <label class="col-sm-2 control-label">Full Name</label>
            <div class="col-sm-8">
                <input type="text" placeholder="enter name" formControlName="user">
            </div>
        </div>
    </div>

</form> -->